/ConsultationTest.class
/MedecinTest.class
/PatientsDAOTest.class
/ConsultationsDAOTest.class
/ServicesDAOTest.class
/SpecialitesTest.class
/MedecinsDAOTest.class
/SpecialitesDAOTest.class
/LoginsTest.class
/AdressesDAOTest.class
/LoginsDAOTest.class
